<mat-toolbar style='background-color:transparent'>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon color="primary">miscellaneous_services</mat-icon>
    </button>
    <span> Articles </span>
    <span class="example-spacer"></span>
    <button *ngIf="!isCardMode" (click)="openDialog()" mat-flat-button color="primary" style="width: 12em">
      Ajouter Article
    </button>
  </mat-toolbar>

<app-table #articlesTable [data]="deliveries$|async" [templates]="{}" [columnsToShow]="displayedColumns" [withCheckbox]=false
    [withFilter]=false>
</app-table>