button {
  margin-right: 10px;
}

//mat-card-content {
//  padding-left: 50px;
//}
//
//mat-card {
//  padding: 0;
//  padding-bottom: 20px;
//}
mat-card-content, mat-card-actions {
  padding: 20px;
  cursor: pointer;
}
