section {
  display: table;
}

.example-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  //min-width: 120px;
}
.example-button-row {
  display: table-cell;
  // min-width: 490px;
}

.barcode {
  display: flex inline;
  flex-direction: column;
}
