<mat-toolbar *ngIf="isCardMode" style='background-color:transparent'>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span> Votre Devis !</span>
  <span class="example-spacer"></span>
  <button mat-flat-button *ngIf="data?.status=='non confirmé'" (click)='transformToOrder()' color="primary"
    style="width : 8em;margin-right: 8px;">
    COMMANDER
  </button>
  <!-- <button mat-flat-button (click)='edit()'class=" mat-bg-warn" style="width : 8em;">
        MODIFIER
    </button> -->
  <!-- <button mat-flat-button (click)="print()" class=" primary" style="width : 8em;">
        IMPRIMER
    </button> -->

  <button class='mr-12' mat-flat-button (click)="edit()" color='primary'>
    <mat-icon>
      edit
    </mat-icon>
    &nbsp;Modifier
  </button>
  <button id='printer-button' mat-flat-button (click)="print()" color='primary'>
    <mat-icon>
      print
    </mat-icon>
    &nbsp;IMPRIMER
  </button>

</mat-toolbar>


<mat-toolbar *ngIf="!isCardMode" style='background-color:transparent'>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Modifications de Devis !</span>
  <span class="example-spacer"></span>
  <button mat-flat-button (click)="save()" color="primary" style="width : 8em;margin-right: 8px;">
    CONFIRMER
  </button>
  <button mat-flat-button (click)="cancel()" class=" mat-bg-warn" style="width : 8em;">
    ANNULER
  </button>
</mat-toolbar>
<ngx-fiche-card [data]="passedData" [withToolbar]='false'>
  <ngx-product-draft [isCardMode]='isCardMode'></ngx-product-draft>
  <ngx-amounts-order [isCardMode]='isCardMode'></ngx-amounts-order>
</ngx-fiche-card>