.example-spacer {
  flex: 1 1 auto;
}

// .fab-button {
//   position: absolute;
//   bottom: 30px;
//   right: 30px;
// }


.form-element {
  padding: 5px 0px 25px 2px;
  width: 100%;
}

.container{
  width: 100%;
  padding:0px;
  margin:0px;
}