<mat-card>
    <mat-card-header>
        <button  nbButton [useExistingCss]="true" printStyle="{.print-section : {'margin-top': '50px'}}" printSectionId="print-section" ngxPrint>print</button>

    </mat-card-header>
    <mat-card-content  id="print-section">
      <mat-accordion>
        <mat-expansion-panel *ngFor="let article of articles" multi>
            <mat-expansion-panel-header>
                <mat-expansion-panel-header>
                    <div class="row">
                        <div class="col-6">{{article.glass.item.libelle}}</div>
                        <div class="col-3">LxH:{{article.glass.largeur}}x{{article.glass.hauteur}}</div>
                        <div class="col-3">Qté: {{article.glass.pieces}}</div>

                    </div>
                </mat-expansion-panel-header>
                <ng-template matExpansionPanelContent>


                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Code</th>
                                <th scope="col">Désignation</th>
                                <th scope="col">Quantité</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let valeurAjoute of article.addedValues">
                                <td>{{ valeurAjoute.item.code }}</td>
                                <td>{{ valeurAjoute.item.libelleUsine }}</td>
                                <td>{{ valeurAjoute.quantity }}</td>
                            </tr>
                        </tbody>
                    </table>



                </ng-template>
            </mat-expansion-panel-header>
        </mat-expansion-panel>
      </mat-accordion>


<div   *ngFor="let article of articles" >
    <div class="col-1">
        {{article.glass.item.libelle}}:
    </div>
    <div class="col-1" *ngFor="let item of article.addedValues">
        {{item.item.libelle}} +
    </div>
</div>

</mat-card-content>

</mat-card>
