<div fxLayout='row' fxLayoutAlign='center center'>
  <ngx-trending-card fxFlex='50' fxFlex.gt-md='20' fxFlex.gt-xl='15'
                     *ngIf='cashBox'
                     [config]="balanceCard">
  </ngx-trending-card>
</div>


<div fxLayout='row' fxLayoutAlign='center center'>
    <mat-tab-group fxFlex='100'>
      <mat-tab class='text-center'>
        <ng-template mat-tab-label>
          <mat-icon class="example-tab-icon">input</mat-icon>
          &nbsp;Entrées
        </ng-template>

        <ngx-payments-grid [data$]="cashBox?.payments"></ngx-payments-grid>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="example-tab-icon">shopping_cart</mat-icon>
          &nbsp;Sorties
        </ng-template>
        <ngx-expenses-grid [data$]='cashBox?.expenses'></ngx-expenses-grid>
      </mat-tab>

    </mat-tab-group>
</div>
