<ngx-dialog-body title="Modifier Verre">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form">
      <div class="outerContainer">
        <div fxLayout="row" fxLayoutGap="15px">
          <div fxLayoutAlign="center center" fxFlex="50">
            <mat-form-field class="form-element">
                <input matInput placeholder="Désignation" formControlName="label">
                <mat-error *ngIf="!form?.controls['label']?.valid && form?.controls['label']?.touched">
                  {{ titleAlert }}
                </mat-error>
              </mat-form-field>
          </div>
          <div fxLayoutAlign="center center" fxFlex="50">
            <mat-form-field class="form-element">
                <input type="number" matInput placeholder="Prix" formControlName="price">
                <mat-error *ngIf="!form?.controls['price']?.valid && form?.controls['price']?.touched">
                  {{ priceMarginMsg }}
                </mat-error>
              </mat-form-field>
          </div>
  
        </div>
        <div fxLayout="row" fxLayoutGap="15px">
          <div fxLayoutAlign="center center" fxFlex="50">
            <mat-form-field class="form-element">
              <input type="number" matInput placeholder="Hauteur" formControlName="heigth">
              <mat-error *ngIf="!form?.controls['heigth']?.valid && form?.controls['heigth']?.touched">
                {{ titleAlert }}
              </mat-error>
            </mat-form-field>
          </div>
          <div fxLayoutAlign="center center" fxFlex="50">
                <mat-form-field class="form-element">
                  <input type="number" matInput placeholder="Largeur" formControlName="width">
                  <mat-error *ngIf="!form?.controls['width']?.valid && form?.controls['width']?.touched">
                    {{ titleAlert }}
                  </mat-error>
                </mat-form-field>
          </div>
        </div>
        <div fxLayout="row" fxLayoutGap="15px">
          <div fxLayoutAlign="center center" fxFlex="50">
            <mat-form-field class="form-element">
              <input type="number" matInput placeholder="Nombre de piéces" formControlName="count">
              <mat-error *ngIf="!form?.controls['count']?.valid && form?.controls['count']?.touched">
                {{ titleAlert }}
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <mat-toolbar *ngIf="errorMessage" style='background-color:#f4d8d3'>
          <span class="alert">{{errorMessage}}!</span>
          <span class="example-spacer"></span>
          <button type="button" (click)='clearMessage()' matSuffix mat-icon-button aria-label="Clear message">
            <mat-icon>close</mat-icon>
          </button>
        </mat-toolbar>
      </div>
    </form>
  
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="15px">
      <button type="submit" mat-flat-button color="primary" (click)="onSubmit()" type="submit" style="width : 8em;margin-right: 8px;">
        CONFIRMER
      </button>
      <button type="button" mat-flat-button (click)='close()' class="mat-bg-warn mr-8" style="width : 8em;">
        ANNULER
      </button>
    </div>
  </ngx-dialog-body>